In [1]:
import pandas as pd
import yfinance as yf

#Define the ticker symbol
ticker="AAPL"#Yfinanace
#for google Alphabet --> GOOGL
#fOR TESLA -->TSLA 

#Get the data
tickerdata=yf.Ticker(ticker)
#Ticker data.info

#Get the historical data
tickerDF=tickerdata.history(period="1d",start="2010-1-1",end="2020-1-25")

#Check the data
tickerDF.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-01-04 00:00:00-05:00,6.437012,6.469283,6.405345,6.454505,493729600,0.0,0.0
2010-01-05 00:00:00-05:00,6.472301,6.502159,6.431584,6.465665,601904800,0.0,0.0
2010-01-06 00:00:00-05:00,6.465666,6.491302,6.356185,6.362821,552160000,0.0,0.0
2010-01-07 00:00:00-05:00,6.386344,6.393884,6.304912,6.351056,477131200,0.0,0.0
2010-01-08 00:00:00-05:00,6.342613,6.393885,6.305216,6.393281,447610800,0.0,0.0

In [2]:
#Check the last price of data
tickerDF["Close"].iloc[-1]

77.23389434814453

In [11]:
tickerDF.shape

(2532, 7)

# One year data of Tesla

In [3]:
import yfinance as yf
import pandas as pd
import datetime as dt
from datetime import date,timedelta

today=date.today()
d1=today.strftime("%Y-%m-%d")
d1
d2=(today-timedelta(days=365)).strftime("%Y-%m-%d")
d2

start_date=d2
end_date=d1

#Define the ticker symbol
ticker="TSLA"

#Get the data
tickerdata=yf.Ticker(ticker)
#Ticker data.info

#Get the historical data
tickerDF=tickerdata.history(period="1d",start=start_date,end=end_date)

#Check the data
tickerDF.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-10-26 00:00:00-04:00,211.320007,214.800003,204.880005,205.759995,115112600,0.0,0.0
2023-10-27 00:00:00-04:00,210.600006,212.410004,205.770004,207.300003,94881200,0.0,0.0
2023-10-30 00:00:00-04:00,209.279999,210.880005,194.669998,197.360001,136448200,0.0,0.0
2023-10-31 00:00:00-04:00,196.119995,202.800003,194.070007,200.839996,118068300,0.0,0.0
2023-11-01 00:00:00-04:00,204.039993,205.990005,197.850006,205.660004,121661700,0.0,0.0

In [4]:
#Save the data into csv
tickerDF.to_csv("TSLA.csv")